.container {
  background: rgba(47, 26, 39, 0.6);
  /* background-color: #060609; */
  display: flex;
}

.containerLeft {
  text-align: left;
  color: rgb(208, 195, 195);
  background-color: rgb(29, 24, 41, 0.5);
  padding: 20px 40px 20px 40px;
}

h6 {
  font-size: 15px;
  text-align: justify;
  font-weight: 100;
}

.imgGameId {
  height: 300px;
  border: 1px solid rgb(218, 198, 188);
  box-shadow: 7px 7px 14px #665d5d,
    -7px -7px 14px #dac7c7;
}

.containerRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(29, 24, 41);
  padding: 20px 40px 20px 40px;
  width: 250%;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.letterInfo {
  color: #f5be8d;
  font-size: 40px;
  text-align: center;
  margin-bottom: -10px;
}

.titleInfo {
 
  /* font-size: 40px;
  text-align: center;
  margin-bottom: -10px; */
  /* font-family: Impact, Charcoal, sans-serif; */
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color: #b2acac;
  margin-top: -1px;
}

.info {
  font-family: 'Times New Roman', Times, serif;
  font-size: 21px;
  letter-spacing: -1.6px;
  word-spacing: 1px;
  color: #6c6565;
  margin-top: -22px;
}
.info:hover {
  color: #fff9f9;
}

.spanInfo {
  font-size: 50px;
  margin-bottom: 20px;
  color: #E48632;
}

.fa {
  color: #E48632;
  display: inline-block;
  line-height: 1;
}

.fao {
  color: #c3c1c1;
  display: inline-block;
  line-height: 1;
}



.item {
  background-color: rgb(12, 67, 67);
  padding: 0px 3px 3px 4px ;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 8px;
}
.item:hover {
  color: rgb(218, 198, 188);
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
  -webkit-box-shadow: 0px 0px 10px 5px #d4ff00;
  -moz-box-shadow: 0px 0px 10px 5px #d4ff00;
  box-shadow: 0px 0px 10px 5px #d4ff00;
}



.platforms {
  /* background-color: rgb(10, 85, 85);
  background-color: rgb(15, 63, 63); */
  padding: 1px 25px 1px 25px ;
  border: 1px solid rgb(218, 198, 188);
  font-size: 16px;
}


.btnBack {
  background-color: transparent;
  color: rgb(208, 195, 195);
  font-family: Georgia, serif;
  font-size: 21px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

}

.btnBack:hover {
  background-color: #4caf50;
  color: white;
}

/* .gif {
  align-items: center;
  height: 250px;
  margin-top: 10%;
  margin-left: 35%;
} */