.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 10px 10px;
    width: 88%;
  
    background-color: #0d0e1b;
}

.card:hover{
    transform:  scale(1.1);
}

.cardHead{
width: 100%;
height: 150px;
}

.cardHead:hover {

}

.imgGame{
    width: 100%;
    height: 100%;

}
.cardBody{
    /* align-items: center;
    text-align: center; */
    text-align: left;
    padding: 0 10px 15px 15px;
    background-color: #0a0b16;
    width: 89%;
    
}
h4{
    font-family: 'Rajdhani', sans-serif;
    line-height: 1.2;
    font-size: 14px;
    color: #c4c4c4;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    /* text-align: left; */

    margin: 10px 0 10px 0;
}

h5{
    font-family: 'Rajdhani', sans-serif;
    line-height: 1.2;
    font-size: 17px;
    color: #c4c4c4;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin: 10px 0 2px 0;
}
.p{
    color: #999;
    font-size: 11px;
    margin: 2px 0 0 0;
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 0.5px;
}

.fa {
    color: #E48632;
    display: inline-block;
    line-height: 1;
}
.fao {
    color: #c3c1c1;
    display: inline-block;
    line-height: 1;
}

.rating{
    text-align: center;
    /* font-size: 20px; */
}

.delete{
    background-color: transparent;
    /* width: min-content;
    height: min-content; */
    width: 20px;
    /* height: 20px; */
    position: absolute;
    /* para posision a la derecha, necsita el padre con relative */
    /* right: 5px;
    top: 5px; */
    font-size: 13px;
    text-align: center;
    cursor: not-allowed ;
    border: 1px solid rgb(34, 32, 32);
    margin: 3px;
    border-radius: 20px;
    padding: 0 0 2px 0;
    color: rgb(34, 32, 32);
    font-family: Arial, Helvetica, sans-serif;

}
.delete:hover{
    background-color: rgb(156, 41, 41);
    color: white;
}

.noDelete{
    background-color: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 0;
}


