header {
  background: rgba(27, 26, 42); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
 width: 100%;
}

.btnNav {
  width: 12%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-right: 2%;

}

a {
  font-family: Impact, Charcoal, sans-serif;
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  letter-spacing: -1.6px;
  word-spacing: 1px;
  color: #c3c1c1;
  font-weight: 10;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  /* border: 1px solid aqua; */
}

a:hover {
  color: #ffffff;
  /* background-color: #c3c1c1;
  text-decoration: none; */
}